<h1>A simple Bourbon Neat example</h1>
<p><a href="https://github.com/thoughtbot/neat">Neat</a> is a simple, flexible grid framework. It uses <a href="http://sass-lang.com/">SASS</a> to mixin grid elements to your existing CSS, so you don't have to pollute your markup with other elements or classes. It works with your existing code. This part is outside the outer-container, so it doesn't get a max-width.</p>

<section>
  <p>I'm a full-width element, the outer-container for everything else.</p>
  <aside>
    <p>I'm a left column, spanning 3 columns.</p>
  </aside>

  <article>
    <p>I'm the main element, spanning 9 columns.</p>
  </article>
</section>

<h2>A table example</h2>
<section>
  <p>I'm another outer container. I <code>@include outer-container</code>. But here comes a table.</p>
  <div class="row header">
    <p class="adventurer">Starting class</p>
    <p class="details">Details</p>
  </div>
  <div class="row">
    <p class="adventurer">Valkyrie</p>
    <p class="details">Good all-rounder. Fairly tough, starts with some armour and a decent weapon. A good beginner's character.</p>
  </div>
  <div class="row">
    <p class="adventurer">Wizard</p>
    <p class="details">Also a good all-rounder. Not as good at fighting, at least at first. Being able to cast the identify spell really helps.</p>
  </div>
</section>
