<h1>A simple Bourbon Neat example</h1>
<p><a href="https://github.com/thoughtbot/neat">Neat</a> is a simple, flexible grid framework. It uses <a href="http://sass-lang.com/">SASS</a> to mixin grid elements to your existing CSS, so you don't have to pollute your markup with other elements or classes. It works with your existing code. This part is outside the outer-container, so it doesn't get a max-width.</p>

<section>
  <p>I'm a full-width element, the outer-container for everything else.</p>
  <aside>
    <p>I'm a left column, spanning 3 columns.</p>
  </aside>

  <article>
    <p>I'm the main element, spanning 9 columns.</p>
  </article>
</section>
